*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url('fondo.jpg');
}
.formulario{
margin: auto;
margin-top: 100px;
height: 500px;
width: 500px;
padding: 15px;
color:rgb(38, 56, 252);
background-color: rgb(223, 223, 223);
}
#saldo_style{
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
}
.formulario h1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
